<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mappn.gfan" android:versionCode="70"
    android:versionName="0.7.0">

    <application android:label="@string/app_name"
        android:icon="@drawable/app_icon" 
        android:theme="@android:style/Theme.Light.NoTitleBar"
        android:name="com.hudee.pns.Application">

        <!-- Splash页 -->
        <activity android:name=".ui.SplashActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
        <!-- 搜索页 -->
        <activity android:name=".ui.SearchActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.SearchResultActivity"
            android:configChanges="keyboardHidden|orientation" />

        <!-- 首页 -->
        <activity android:name=".ui.HomeTabActivity" 
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="stateUnchanged"/>
        <activity android:name=".ui.HomeActivity" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation"/>
    
       <!-- 分类页 -->
       <activity android:name=".ui.CategoryActivity" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation"/>
       <activity android:name=".ui.InstallNecessaryActivity" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation"/>

        <!-- 排行页 -->
        <activity android:name=".ui.RankTabActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".ui.ProductListActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation"/>
            
        <!-- 应用管理页 -->
        <activity android:name=".ui.AppsManagerActivity" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".ui.FileManagerActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation" />

        <!-- 产品详细页 -->
        <activity android:name=".ui.ProductDetailActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".ui.PreloadActivity"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="gfan" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ProductInfoActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".ui.ProductCommentActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".ui.ScreenshotActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation" 
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity android:name=".ui.SafeActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation" />

        <!--Menu 相关页面 -->
        <activity android:name=".ui.ClientPreferenceActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.Light" />
        <activity android:name=".ui.FeedBackActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:configChanges="keyboardHidden|orientation" />
            
        <!-- 个人中心页 -->
        <activity android:name=".ui.PersonalAccountActivity"
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".ui.ChargeTypeListActivity"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop" />
        <activity android:name=".ui.PayMainActivity"
            android:configChanges="keyboardHidden|orientation" />
        
        <!-- 注册页 -->
        <activity android:name=".ui.RegisterActivity" 
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"/>
            
        <!-- 登录页 -->
        <activity android:name=".ui.LoginActivity" 
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"/>
            
        <!-- 机锋市场Content Provider -->
        <provider android:name=".common.util.MarketProvider"
            android:authorities="gfan" />

        <!-- Download Service -->
        <provider android:name=".common.download.DownloadProvider"
            android:authorities="gfan_downloads" />
        <service android:name=".common.download.DownloadService" />
        <receiver android:name=".common.download.DownloadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        
        <!-- Splash Receiver -->
        <receiver android:name=".common.util.CheckSplashUpdateReceiver">
            <intent-filter>
                <action android:name="com.mappn.market.broadcast.splash.CHECK_UPGRADE" />
            </intent-filter>
        </receiver>
        
        <!-- Hudee Service -->
        <receiver android:name=".common.hudee.C2DMReceiver">
            <!-- Receive the actual message -->
            <intent-filter>
                <action android:name="com.hudee.pns.intent.MESSAGE" />
                <category android:name="com.mappn.gfan" />
            </intent-filter>
            <!-- Receive the registration id -->
            <intent-filter>
                <action android:name="com.hudee.pns.intent.REGISTRATION" />
                <category android:name="com.mappn.gfan" />
            </intent-filter>
        </receiver>

        <service android:name="com.hudee.pns.service.RegistrationService">
            <intent-filter>
                <action android:name="com.hudee.pns.intent.REGISTER" />
                <action android:name="com.hudee.pns.intent.UNREGISTER" />
            </intent-filter>
        </service>

        <service android:name="com.hudee.pns.service.SendMessageService">
            <intent-filter>
                <action android:name="com.hudee.pns.intent.SENDMSG" />
            </intent-filter>
        </service>

        <service android:name="com.hudee.pns.service.PushService">
            <intent-filter>
                <action android:name="com.hudee.pns.intent.START_PUSH_SERVICE" />
                <action android:name="com.hudee.pns.intent.STOP_PUSH_SERVICE" />
                <action android:name="com.hudee.pns.intent.RESTART_PUSH_SERVICE" />
            </intent-filter>
        </service>

        <service android:name="com.hudee.pns.service.SubscriptionService">
            <intent-filter>
                <action android:name="com.hudee.pns.intent.SUBSCRIBE" />
            </intent-filter>
        </service>

        <receiver android:name="com.hudee.pns.receiver.SystemEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" android:path="com.hudee.pns" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.hudee.pns.receiver.ScreenEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.hudee.pns.receiver.ParametersSyncReceiver">
            <intent-filter>
                <action android:name="com.hudee.pns.sync.parameters" />
            </intent-filter>
        </receiver>
        
        <!-- GFan SDK uses -->
        <meta-data android:name="gfan_cpid" android:value="机锋市场" />
        <meta-data android:name="gfan_statistics_appkey"
            android:value="05607E221ACFEBE77B74" />
        <meta-data android:name="gfan_type" android:value="tongjisdk" />
        <!-- content ID -->
        <meta-data android:name="gfan_cid" android:value="9" />
        <!-- upgrade uses -->
        <meta-data android:name="gfan_debug" android:value="1" />

    </application>

    <!-- Only this application can receive the messages and registration result -->
    <permission android:name="com.hudee.pns.permission.RECEIVE"
        android:protectionLevel="normal" />
    <permission android:name="com.mappn.gfan.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Permission Group -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.mappn.gfan.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.hudee.pns.permission.RECEIVE" />
    <supports-screens android:anyDensity="true" />
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="9" />
</manifest> 